@import url("https://fonts.googleapis.com/css?family=Work+Sans:regular,500,600&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #121B25;
  font-family: "Work Sans", sant-serif;
  color: #ffffff;
}
body._lock {
  overflow: hidden;
}

img,
svg {
  width: 100%;
}

ul {
  list-style: none;
}

[class*=__container] {
  max-width: 1450px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.text {
  color: #D6D6D6;
  line-height: 1.7;
  font-size: 18px;
}

.title {
  font-size: clamp(1.875rem, 1.548rem + 1.64vw, 3rem);
  text-transform: capitalize;
  line-height: 1.26;
  font-weight: 600;
  color: #ffffff;
}

/*----------Header----------*/
.header {
  padding: clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem) 0;
}
.header__container {
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 20px;
}
.header__logo svg {
  max-width: 132px;
  min-width: 100px;
  height: auto;
}
.header__navigation {
  gap: clamp(1.25rem, -2.799rem + 8.44vw, 4.688rem);
  align-items: center;
  display: flex;
}
.header__buttons {
  display: flex;
  gap: 5px;
}
.header__btn {
  border: 1px solid #1AA090;
  text-transform: capitalize;
  white-space: nowrap;
  transition: all 0.2s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  height: 40px;
}
@media (max-width: 480px) {
  .header__btn {
    font-size: 14px;
    padding: 0 5px;
    height: 30px;
  }
}

@media (max-width: 992px) {
  .menu {
    background-color: #1AA090;
    justify-content: center;
    transition: left 0.2s;
    position: absolute;
    padding: 20px 0;
    overflow: auto;
    display: flex;
    height: 100vh;
    left: -100%;
    z-index: 4;
    width: 80%;
    top: 0;
  }
  .menu._active {
    left: 0;
  }
}
@media (max-width: 480px) {
  .menu {
    width: 100%;
  }
}
.menu-icon {
  display: none;
}
@media (max-width: 992px) {
  .menu-icon {
    display: block;
    height: 18px;
    width: 30px;
    position: relative;
    cursor: pointer;
    z-index: 5;
  }
  .menu-icon span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }
  .menu-icon span:first-child {
    top: 0;
  }
  .menu-icon span:last-child {
    top: auto;
    bottom: 0;
  }
  .menu-icon._active span {
    transform: scale(0);
  }
  .menu-icon._active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-icon._active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}
.menu__body {
  align-items: center;
  display: flex;
  gap: 40px;
}
@media (max-width: 992px) {
  .menu__body {
    flex-direction: column;
    margin: auto;
  }
}
.menu__link {
  text-transform: capitalize;
  text-decoration: none;
  transition: color 0.3s;
  color: #D6D6D6;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  font-size: 16px;
}
.menu__link::before {
  background-color: #1AA090;
  transition: opacity 0.3s;
  position: absolute;
  visibility: hidden;
  bottom: -5px;
  content: "";
  height: 3px;
  opacity: 0;
  right: 0;
  left: 0;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #ffffff;
  }
  .menu__link:hover::before {
    visibility: visible;
    opacity: 1;
  }
}
@media (max-width: 992px) {
  .menu__link {
    line-height: 50px;
    font-size: 30px;
  }
}

.login {
  background-color: transparent;
  color: #D6D6D6;
  padding: 5px 30px;
}
@media (any-hover: hover) {
  .login:hover {
    background-color: #1AA090;
  }
}
@media (max-width: 480px) {
  .login {
    display: none;
  }
}

.register {
  background-color: #1AA090;
  padding: 5px 20px;
  color: #ffffff;
}
@media (any-hover: hover) {
  .register:hover {
    background-color: transparent;
  }
}
@media (max-width: 480px) {
  .register {
    padding: 5px;
  }
}

/*----------Hero----------*/
.hero {
  padding-bottom: clamp(1.25rem, -0.023rem + 6.36vw, 5.625rem);
  margin-top: clamp(1.25rem, 0.795rem + 2.27vw, 2.813rem);
  position: relative;
}
.hero__deco {
  position: absolute;
  z-index: -1;
  bottom: -150px;
  right: 0;
}
@media (max-width: 576px) {
  .hero__deco svg {
    height: 300px;
  }
}
.hero__container {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
@media (max-width: 992px) {
  .hero__container {
    flex-direction: column;
  }
}
.hero__content {
  flex: 0 0 49.2957746479%;
  padding-bottom: 160px;
}
@media (max-width: 768px) {
  .hero__content {
    padding-bottom: 30px;
  }
}
.hero__title {
  font-size: clamp(1.875rem, 1.184rem + 3.45vw, 4.25rem);
  text-transform: capitalize;
  line-height: 1.26;
  font-weight: 600;
  color: #ffffff;
}
.hero__text {
  margin-top: 18px;
}
.hero__filter {
  background-color: #ffffff;
  position: absolute;
  margin-top: 60px;
  height: 100px;
  width: 880px;
}
@media (max-width: 992px) {
  .hero__filter {
    position: static;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .hero__filter {
    margin-top: 20px;
  }
}
.hero__img {
  flex: 0 0 49.2957746479%;
}
@media (min-width: 768px) and (max-width: 992px) {
  .hero__img {
    display: none;
  }
}

/*----------Filter----------*/
.filter {
  grid-template-columns: 1fr 1fr 1fr 165px;
  display: grid;
  color: black;
}
@media (max-width: 768px) {
  .filter {
    grid-template-columns: repeat(3, 1fr);
    padding: 5px;
    height: auto;
  }
}
@media (max-width: 480px) {
  .filter {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
.filter__block:nth-child(2) {
  border-right: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}
.filter__btn {
  padding: 5px;
}
.filter__btn button {
  background-color: #15786C;
  text-transform: capitalize;
  transition: all 0.1s;
  font-weight: 500;
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
  color: #ffffff;
  height: 100%;
  border: none;
  width: 100%;
}
.filter__btn button:active {
  background-color: #1AA090;
  transform: scale(0.95);
}
@media (max-width: 768px) and (min-width: 480px) {
  .filter__btn {
    grid-column: 1/4;
  }
}

.block-filter {
  position: relative;
  cursor: pointer;
}
.block-filter__header {
  align-items: center;
  display: flex;
}
.block-filter__button {
  padding: 0 clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem);
  justify-content: center;
  flex-direction: column;
  display: flex;
  height: 100%;
}
.block-filter__value {
  text-transform: capitalize;
  line-height: 1.26;
  font-weight: 600;
  font-size: 18px;
  color: #121B25;
}
.block-filter__type {
  padding-right: 2px;
  color: #858585;
}
.block-filter__icon {
  background: url("./../img/icons/arrow-dropdown.png") center no-repeat;
  transition: transform 0.2s;
  height: 100%;
  width: 10px;
}
.block-filter__icon._active {
  transform: rotate(180deg);
}
.block-filter__dropdown {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  background-color: #ffffff;
  pointer-events: none;
  transition: all 0.3s;
  border-radius: 5px;
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
  top: 100%;
  right: 0;
  left: 0;
}
.block-filter__dropdown._active {
  transform: translateY(5px);
  visibility: visible;
  pointer-events: all;
  opacity: 1;
}
.block-filter__item {
  transition: background-color 0.2s;
  text-transform: capitalize;
  cursor: pointer;
  padding: 10px;
}
@media (any-hover: hover) {
  .block-filter__item:hover {
    background-color: #adadad;
  }
}

/*----------Filter----------*/
.featured {
  padding-top: clamp(1.25rem, -0.023rem + 15vw, 5.625rem);
}
.featured__box {
  margin-top: clamp(1.875rem, 1.511rem + 1.82vw, 3.125rem);
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  display: flex;
  gap: 30px;
}
.featured__item {
  flex: 0 0 auto;
}