@import url("https://fonts.googleapis.com/css?family=Work+Sans:regular,500,600&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #121B25;
  font-family: "Work Sans", sant-serif;
  color: #ffffff;
}
body._lock {
  overflow: hidden;
}

img,
svg {
  width: 100%;
}

ul {
  list-style: none;
}

button {
  outline: none;
  border: none;
}

[class*=__container] {
  max-width: 1450px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.icon {
  display: inline-block;
  stroke: currentColor;
  fill: currentColor;
  stroke-width: 0;
  height: 1em;
  width: 1em;
}

.text {
  color: #D6D6D6;
  line-height: 1.7;
  font-size: 18px;
}

.title {
  font-size: clamp(1.875rem, 1.548rem + 1.64vw, 3rem);
  text-transform: capitalize;
  line-height: 1.26;
  font-weight: 600;
  color: #ffffff;
}

.link-btn {
  background-color: #1AA090;
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.1s;
  padding: 22px 42px;
  font-weight: 500;
  cursor: pointer;
  color: #ffffff;
  font-size: 24px;
}
.link-btn:active {
  background-color: #15786C;
  transform: scale(0.95);
}
@media (max-width: 480px) {
  .link-btn {
    padding: 16px 28px;
    font-size: 12px;
  }
}

.logo svg {
  max-width: 132px;
  min-width: 100px;
  height: auto;
}

/*----------Header----------*/
.header {
  padding: clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem) 0;
  position: relative;
  z-index: 10;
}
.header__container {
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 20px;
}
.header__navigation {
  gap: clamp(1.25rem, -2.799rem + 8.44vw, 4.688rem);
  align-items: center;
  display: flex;
}
.header__buttons {
  display: flex;
  gap: 5px;
}
.header__btn {
  border: 1px solid #1AA090;
  text-transform: capitalize;
  white-space: nowrap;
  transition: all 0.2s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  height: 40px;
}
@media (max-width: 480px) {
  .header__btn {
    font-size: 14px;
    padding: 0 5px;
    height: 30px;
  }
}

@media (max-width: 992px) {
  .menu {
    background-color: #1AA090;
    justify-content: center;
    transition: left 0.2s;
    position: absolute;
    padding: 20px 0;
    overflow: auto;
    display: flex;
    height: 100vh;
    left: -100%;
    z-index: 4;
    top: -20px;
    width: 70%;
  }
  .menu._active {
    left: 0;
  }
}
@media (max-width: 768px) {
  .menu {
    width: 100%;
  }
}
.menu-icon {
  display: none;
}
@media (max-width: 992px) {
  .menu-icon {
    display: block;
    height: 18px;
    width: 30px;
    position: relative;
    cursor: pointer;
    z-index: 5;
  }
  .menu-icon span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }
  .menu-icon span:first-child {
    top: 0;
  }
  .menu-icon span:last-child {
    top: auto;
    bottom: 0;
  }
  .menu-icon._active span {
    transform: scale(0);
  }
  .menu-icon._active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-icon._active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}
.menu__body {
  align-items: center;
  display: flex;
  gap: 40px;
}
@media (max-width: 992px) {
  .menu__body {
    flex-direction: column;
    margin: auto;
  }
}
.menu__link {
  text-transform: capitalize;
  text-decoration: none;
  transition: color 0.3s;
  color: #D6D6D6;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  font-size: 16px;
}
.menu__link::before {
  background-color: #1AA090;
  transition: opacity 0.3s;
  position: absolute;
  visibility: hidden;
  bottom: -5px;
  content: "";
  height: 3px;
  opacity: 0;
  right: 0;
  left: 0;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #ffffff;
  }
  .menu__link:hover::before {
    visibility: visible;
    opacity: 1;
  }
}
@media (max-width: 992px) {
  .menu__link {
    line-height: 50px;
    font-size: 30px;
  }
}

.login {
  background-color: transparent;
  color: #D6D6D6;
  padding: 5px 30px;
}
@media (any-hover: hover) {
  .login:hover {
    background-color: #1AA090;
  }
}
@media (max-width: 480px) {
  .login {
    display: none;
  }
}

.register {
  background-color: #1AA090;
  padding: 5px 20px;
  color: #ffffff;
}
@media (any-hover: hover) {
  .register:hover {
    background-color: transparent;
  }
}
@media (max-width: 480px) {
  .register {
    padding: 5px;
  }
}

/*----------Hero----------*/
.hero {
  padding-bottom: clamp(1.25rem, -0.023rem + 6.36vw, 5.625rem);
  margin-top: clamp(1.25rem, 0.795rem + 2.27vw, 2.813rem);
  position: relative;
}
.hero__deco {
  position: absolute;
  z-index: -1;
  bottom: -150px;
  right: 0;
}
@media (max-width: 576px) {
  .hero__deco svg {
    height: 300px;
  }
}
.hero__container {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
@media (max-width: 992px) {
  .hero__container {
    flex-direction: column;
  }
}
.hero__content {
  flex: 0 0 49.2957746479%;
  padding-bottom: 160px;
}
@media (max-width: 768px) {
  .hero__content {
    padding-bottom: 30px;
  }
}
.hero__title {
  font-size: clamp(1.875rem, 1.184rem + 3.45vw, 4.25rem);
  text-transform: capitalize;
  line-height: 1.26;
  font-weight: 600;
  color: #ffffff;
}
.hero__text {
  margin-top: 18px;
}
.hero__filter {
  background-color: #ffffff;
  position: absolute;
  margin-top: 60px;
  height: 100px;
  width: 880px;
}
@media (max-width: 992px) {
  .hero__filter {
    position: static;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .hero__filter {
    margin-top: 20px;
  }
}
.hero__img {
  flex: 0 0 49.2957746479%;
}
@media (min-width: 768px) and (max-width: 992px) {
  .hero__img {
    display: none;
  }
}

/*----------Filter----------*/
.filter {
  grid-template-columns: 1fr 1fr 1fr 165px;
  display: grid;
  color: black;
}
@media (max-width: 768px) {
  .filter {
    grid-template-columns: repeat(3, 1fr);
    padding: 5px;
    height: auto;
  }
}
@media (max-width: 480px) {
  .filter {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
.filter__block:nth-child(2) {
  border-right: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}
.filter__btn {
  padding: 5px;
}
.filter__btn button {
  background-color: #15786C;
  text-transform: capitalize;
  transition: all 0.1s;
  font-weight: 500;
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
  color: #ffffff;
  height: 100%;
  border: none;
  width: 100%;
}
.filter__btn button:active {
  background-color: #1AA090;
  transform: scale(0.95);
}
@media (max-width: 768px) and (min-width: 480px) {
  .filter__btn {
    grid-column: 1/4;
  }
}

.block-filter {
  position: relative;
  cursor: pointer;
}
.block-filter__header {
  align-items: center;
  display: flex;
}
.block-filter__button {
  padding: 0 clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem);
  justify-content: center;
  flex-direction: column;
  display: flex;
  height: 100%;
}
.block-filter__value {
  text-transform: capitalize;
  line-height: 1.26;
  font-weight: 600;
  font-size: 18px;
  color: #121B25;
}
.block-filter__type {
  padding-right: 2px;
  color: #858585;
}
.block-filter__icon {
  background: url("./../img/icons/arrow-dropdown.png") center no-repeat;
  transition: transform 0.2s;
  height: 100%;
  width: 10px;
}
.block-filter__icon._active {
  transform: rotate(180deg);
}
.block-filter__dropdown {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  background-color: #ffffff;
  pointer-events: none;
  transition: all 0.3s;
  border-radius: 5px;
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
  top: 100%;
  right: 0;
  left: 0;
}
.block-filter__dropdown._active {
  transform: translateY(5px);
  visibility: visible;
  pointer-events: all;
  opacity: 1;
}
.block-filter__item {
  transition: background-color 0.2s;
  text-transform: capitalize;
  cursor: pointer;
  padding: 10px;
}
@media (any-hover: hover) {
  .block-filter__item:hover {
    background-color: #adadad;
  }
}

/*----------Filter----------*/
.featured {
  padding-bottom: clamp(1.25rem, -0.023rem + 15vw, 5.625rem);
  padding-top: clamp(1.25rem, -0.023rem + 15vw, 5.625rem);
}
.featured__box {
  margin-top: clamp(1.875rem, 1.511rem + 1.82vw, 3.125rem);
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  display: flex;
  gap: 80px;
}
.featured__item {
  flex: 0 0 auto;
}

/*----------Popular-Residence----------*/
.pop-residence {
  padding: clamp(3.75rem, 1.932rem + 9.09vw, 10rem) 0;
  background-image: url("./../img/pr-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #1a242f;
  background-size: cover;
}
.pop-residence__button {
  text-align: center;
  margin-top: 70px;
}
.pop-residence__slider {
  margin-bottom: 60px;
  margin-top: 40px;
}

/*----------Slider----------*/
.card__title {
  text-transform: capitalize;
  letter-spacing: 0.01em;
  margin-top: 22px;
  font-weight: 600;
  line-height: 3px;
  font-size: 26px;
  color: #ffffff;
}
.card__desc {
  color: #D6D6D6;
  line-height: 30px;
  margin-top: 22px;
  font-weight: 400;
  font-size: 18px;
}
.card__info {
  text-transform: capitalize;
  align-items: center;
  margin-top: 18px;
  color: #ffffff;
  flex-wrap: wrap;
  display: flex;
  gap: 20px;
}

.info {
  align-items: center;
  display: flex;
  gap: 20px;
}
.info__icon {
  color: #1AA090;
  align-items: center;
  font-size: 22px;
}
.info__item {
  align-items: center;
  display: flex;
  gap: 5px;
}

.arrow-slider {
  background-color: transparent;
  border: 1px solid #a9adb1;
  justify-content: center;
  transition: all 0.1s;
  align-items: center;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  height: 78px;
  z-index: 2;
  width: 78px;
}
.arrow-slider:nth-child(1) {
  left: -130px;
}
.arrow-slider:nth-child(2) {
  transform: rotate(180deg);
  right: -130px;
}
.arrow-slider:active {
  scale: 0.95;
}

.pop-residence__slider {
  position: relative;
}

.slider-buttons {
  justify-content: space-between;
  position: absolute;
  display: flex;
  width: 100%;
  z-index: 1;
  top: 30%;
}
@media (max-width: 480px) {
  .slider-buttons {
    display: none;
  }
}

@media (max-width: 1790px) {
  .arrow-slider {
    position: static;
    height: 50px;
    width: 50px;
  }
  .slider-buttons {
    transform: translateY(0);
    justify-content: end;
    top: -70px;
    gap: 10px;
  }
}
/*----------Why----------*/
.why {
  padding-top: clamp(2.5rem, -0.045rem + 12.73vw, 11.25rem);
}
.why__title {
  text-align: center;
}
.why__list {
  gap: clamp(2.5rem, 1.318rem + 5.91vw, 6.563rem);
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  display: flex;
}
@media (max-width: 768px) {
  .why__list {
    flex-wrap: wrap;
  }
}

.box-why__img {
  height: clamp(5rem, 3.182rem + 9.09vw, 11.25rem);
  width: clamp(5rem, 3.182rem + 9.09vw, 11.25rem);
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  display: flex;
}
.box-why__img svg {
  font-size: clamp(2rem, 1.273rem + 3.64vw, 4.5rem);
}
.box-why__img::before {
  background-color: #1aa090;
  border-radius: 50%;
  position: absolute;
  display: block;
  opacity: 0.12;
  height: 100%;
  width: 100%;
  content: "";
}
.box-why__title {
  margin-top: clamp(1rem, 0.636rem + 1.82vw, 2.25rem);
  text-transform: capitalize;
  letter-spacing: 0.01em;
  text-align: center;
  line-height: 1.26;
  font-weight: 600;
  font-size: 26px;
  color: #ffffff;
}
.box-why__description {
  color: #D6D6D6;
  text-align: center;
  line-height: 1.7;
  margin-top: 15px;
  font-size: 18px;
}
.box-why__icon {
  color: #1AA090;
}

/*----------Reviews----------*/
.reviews {
  position: relative;
  padding-bottom: clamp(2.5rem, -0.045rem + 12.73vw, 11.25rem);
  margin-top: clamp(3.75rem, 2.659rem + 5.45vw, 7.5rem);
}
.reviews__element {
  position: absolute;
  width: 100%;
  z-index: -1;
  left: -40%;
  top: -70%;
}
@media (max-width: 480px) {
  .reviews__element {
    width: 300px;
  }
}
.reviews .swiper-wrapper {
  align-items: flex-start;
}
.reviews__container {
  max-width: 1200px;
  margin: 0 auto;
}
.reviews__quotes {
  font-size: clamp(3.75rem, 0.114rem + 18.18vw, 16.25rem);
  text-transform: capitalize;
  color: #1AA090;
  font-weight: 400;
}
.reviews__buttons {
  align-items: center;
  position: absolute;
  font-size: 24px;
  display: flex;
  right: 15px;
  z-index: 1;
  bottom: 0;
  gap: 70px;
}
@media (max-width: 480px) {
  .reviews__buttons {
    gap: 20px;
  }
}
.reviews__buttons::before {
  background: #353f49;
  position: absolute;
  bottom: 10px;
  content: "";
  width: 1px;
  left: 50%;
  top: 0;
}

.slider-reviews__text {
  font-size: clamp(1.375rem, 1.193rem + 0.91vw, 2rem);
  text-transform: capitalize;
  line-height: 1.57;
  color: #ffffff;
}
.slider-reviews__name {
  letter-spacing: 0.01em;
  text-transform: capitalize;
  line-height: 1.26;
  font-weight: 600;
  margin-top: 40px;
  font-size: 22px;
}
.slider-reviews__position {
  color: #D6D6D6;
  line-height: 1.7;
  margin-top: 5px;
  font-size: 18px;
}
.slider-reviews-next {
  transform: translateY(-6px) rotate(180deg);
}
.slider-reviews-prev, .slider-reviews-next {
  cursor: pointer;
}
.slider-reviews-prev.swiper-button-disabled, .slider-reviews-next.swiper-button-disabled {
  color: #767f89;
}

/*----------Gallery----------*/
.gallery {
  background: linear-gradient(270deg, #1a242f 0.01%, rgba(26, 36, 47, 0) 82.97%);
  padding: clamp(1rem, -1.618rem + 13.09vw, 10rem) 0;
}
.gallery__container {
  align-items: center;
  display: flex;
  gap: 60px;
}
@media (max-width: 992px) {
  .gallery__container {
    flex-direction: column;
  }
}
.gallery__box {
  min-width: 50.7042253521%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 20px;
}
@media (max-width: 992px) {
  .gallery__box {
    justify-content: center;
    width: 100%;
  }
}
.gallery__item {
  aspect-ratio: 7/11;
  position: relative;
}
.gallery__item img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
@media (min-width: 992px) {
  .gallery__title {
    max-width: 520px;
  }
}
.gallery__text {
  margin-top: 22px;
}
.gallery__btn {
  margin-top: 45px;
}

/*----------Begin----------*/
.begin {
  padding: clamp(2.5rem, -0.045rem + 12.73vw, 11.25rem) 0;
  position: relative;
}
.begin__lines {
  position: absolute;
  bottom: -30%;
  z-index: -1;
  left: 0;
}
@media (max-width: 768px) {
  .begin__lines {
    width: 200px;
    bottom: -50%;
  }
}
.begin__elements {
  position: absolute;
  top: -16%;
  right: 0;
}
@media (max-width: 768px) {
  .begin__elements {
    width: 40px;
  }
}
.begin__container {
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  display: flex;
  gap: 20px;
}
@media (max-width: 1024px) {
  .begin__container {
    flex-direction: column;
  }
}
.begin__slogan {
  font-size: clamp(2.375rem, 1.83rem + 2.73vw, 4.25rem);
  text-transform: capitalize;
  line-height: 1.26;
  font-weight: 600;
}
@media (min-width: 1024px) {
  .begin__slogan {
    max-width: 510px;
  }
}
@media (min-width: 1024px) {
  .begin__desc {
    max-width: 640px;
  }
}
.begin__button {
  margin-top: 35px;
}

/*----------Footer----------*/
.footer {
  padding-top: clamp(2.5rem, 0.682rem + 9.09vw, 8.75rem);
  background-color: #1a242f;
}
.footer__main {
  margin-bottom: clamp(2.188rem, 1.097rem + 5.45vw, 5.938rem);
  gap: clamp(2.188rem, 0.278rem + 9.55vw, 8.75rem);
  display: flex;
}
@media (max-width: 1070px) {
  .footer__main {
    flex-direction: column;
    margin-bottom: 30px;
    gap: 30px;
  }
}
.footer__text {
  margin-top: 20px;
}
.footer__title {
  text-transform: capitalize;
  letter-spacing: 0.01em;
  line-height: 1.26;
  font-weight: 600;
  font-size: 26px;
}
@media (max-width: 480px) {
  .footer__title {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .footer__text {
    font-size: 16px;
  }
}
.footer__copy {
  padding: 15px 0;
}
.footer__copy-text {
  color: #D6D6D6;
  line-height: 1.7;
  font-size: 18px;
}
@media (max-width: 768px) {
  .footer__copy-text {
    font-size: 12px;
  }
}
.footer__social {
  margin-top: 30px;
}

.social-list {
  align-items: center;
  display: flex;
  gap: 30px;
}
.social-list__link svg {
  transition: color 0.2s;
  color: #555E68;
  font-size: 20px;
}
.social-list__link svg:hover {
  color: #ffffff;
}