@import './fonts';
@import './variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: $c-bg;
  font-family: $ff-main;
  color: $c-white;
  &._lock {
    overflow: hidden;
  }
}

img,
svg {
  width: 100%;
}
ul {
  list-style: none;
}
button {
  outline: none;
  border: none;
}

[class*='__container'] {
  max-width: 1450px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.icon {
  display: inline-block;
  stroke: currentColor;
  fill: currentColor;
  stroke-width: 0;
  height: 1em;
  width: 1em;
}
.text {
  color: $c-text-silver;
  line-height: 1.7;
  font-size: 18px;
}
.title {
  font-size: clamp(1.875rem, 1.548rem + 1.64vw, 3rem);
  text-transform: capitalize;
  line-height: 1.26;
  font-weight: 600;
  color: $c-white;
}
.link-btn {
  background-color: $c-jungle-green;
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.1s;
  padding: 22px 42px;
  font-weight: 500;
  cursor: pointer;
  color: $c-white;
  font-size: 24px;
  &:active {
    background-color: $c-jungle-green-dark;
    transform: scale(0.95);
  }
  @media (max-width: 480px) {
    padding: 16px 28px;
    font-size: 12px;
  }
}
/*----------Header----------*/
.header {
  padding: clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem) 0;
  &__container {
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 20px;
  }
  &__logo svg {
    max-width: 132px;
    min-width: 100px;
    height: auto;
  }
  &__navigation {
    gap: clamp(1.25rem, -2.799rem + 8.44vw, 4.688rem);
    align-items: center;
    display: flex;
  }
  &__buttons {
    display: flex;
    gap: 5px;
  }
  &__btn {
    border: 1px solid $c-jungle-green;
    text-transform: capitalize;
    white-space: nowrap;
    transition: all 0.2s;
    width: fit-content;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    height: 40px;
    @media (max-width: 480px) {
      font-size: 14px;
      padding: 0 5px;
      height: 30px;
    }
  }
}
.menu {
  @media (max-width: 992px) {
    background-color: $c-jungle-green;
    justify-content: center;
    transition: left 0.2s;
    position: absolute;
    padding: 20px 0;
    overflow: auto;
    display: flex;
    height: 100vh;
    left: -100%;
    z-index: 4;
    width: 80%;
    top: 0;
    &._active {
      left: 0;
    }
  }
  @media (max-width: 480px) {
    width: 100%;
  }
  &-icon {
    display: none;
    @media (max-width: 992px) {
      display: block;
      height: 18px;
      width: 30px;
      position: relative;
      cursor: pointer;
      z-index: 5;
      span {
        transition: all 0.3s ease 0s;
        top: calc(50% - 1px);
        left: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $c-white;
        &:first-child {
          top: 0;
        }
        &:last-child {
          top: auto;
          bottom: 0;
        }
      }
      &._active {
        span {
          transform: scale(0);
          &:first-child {
            transform: rotate(-45deg);
            top: calc(50% - 1px);
          }
          &:last-child {
            transform: rotate(45deg);
            bottom: calc(50% - 1px);
          }
        }
      }
    }
  }
  &__body {
    @media (max-width: 992px) {
      flex-direction: column;
      margin: auto;
    }
    align-items: center;
    display: flex;
    gap: 40px;
  }
  &__link {
    text-transform: capitalize;
    text-decoration: none;
    transition: color 0.3s;
    color: $c-text-silver;
    position: relative;
    line-height: 20px;
    font-weight: 500;
    font-size: 16px;
    &::before {
      background-color: $c-jungle-green;
      transition: opacity 0.3s;
      position: absolute;
      visibility: hidden;
      bottom: -5px;
      content: '';
      height: 3px;
      opacity: 0;
      right: 0;
      left: 0;
    }
    @media (any-hover: hover) {
      &:hover {
        color: $c-white;
        &::before {
          visibility: visible;
          opacity: 1;
        }
      }
    }
    @media (max-width: 992px) {
      line-height: 50px;
      font-size: 30px;
    }
  }
}
.login {
  background-color: transparent;
  color: $c-text-silver;
  padding: 5px 30px;
  @media (any-hover: hover) {
    &:hover {
      background-color: $c-jungle-green;
    }
  }
  @media (max-width: 480px) {
    display: none;
  }
}
.register {
  background-color: $c-jungle-green;
  padding: 5px 20px;
  color: $c-white;
  @media (any-hover: hover) {
    &:hover {
      background-color: transparent;
    }
  }
  @media (max-width: 480px) {
    padding: 5px;
  }
}

/*----------Hero----------*/
.hero {
  padding-bottom: clamp(1.25rem, -0.023rem + 6.36vw, 5.625rem);
  margin-top: clamp(1.25rem, 0.795rem + 2.27vw, 2.813rem);
  position: relative;
  &__deco {
    position: absolute;
    z-index: -1;
    bottom: -150px;
    right: 0;
    @media (max-width: 576px) {
      svg {
        height: 300px;
      }
    }
  }
  &__container {
    justify-content: space-between;
    align-items: center;
    display: flex;
    @media (max-width: 992px) {
      flex-direction: column;
    }
  }
  &__content {
    flex: 0 0 calc(700px / 1420px * 100%);
    padding-bottom: 160px;
    @media (max-width: 768px) {
      padding-bottom: 30px;
    }
  }
  &__title {
    font-size: clamp(1.875rem, 1.184rem + 3.45vw, 4.25rem);
    text-transform: capitalize;
    line-height: 1.26;
    font-weight: 600;
    color: $c-white;
  }
  &__text {
    margin-top: 18px;
  }
  &__filter {
    background-color: $c-white;
    position: absolute;
    margin-top: 60px;
    height: 100px;
    width: 880px;
    @media (max-width: 992px) {
      position: static;
      width: 100%;
    }
    @media (max-width: 480px) {
      margin-top: 20px;
    }
  }
  &__img {
    flex: 0 0 calc(700px / 1420px * 100%);
    @media (min-width: 768px) and (max-width: 992px) {
      display: none;
    }
  }
}

/*----------Filter----------*/
.filter {
  grid-template-columns: 1fr 1fr 1fr 165px;
  display: grid;
  color: black;
  @media (max-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    padding: 5px;
    height: auto;
  }
  @media (max-width: 480px) {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  &__block {
    &:nth-child(2) {
      border-right: 1px solid #e8e8e8;
      border-left: 1px solid #e8e8e8;
    }
  }
  &__btn {
    padding: 5px;
    button {
      background-color: $c-jungle-green-dark;
      text-transform: capitalize;
      transition: all 0.1s;
      font-weight: 500;
      cursor: pointer;
      padding: 10px;
      font-size: 24px;
      color: $c-white;
      height: 100%;
      border: none;
      width: 100%;
      &:active {
        background-color: $c-jungle-green;
        transform: scale(0.95);
      }
    }
    @media (max-width: 768px) and (min-width: 480px) {
      grid-column: 1/4;
    }
  }
}
.block-filter {
  position: relative;
  cursor: pointer;
  &__header {
    align-items: center;
    display: flex;
  }
  &__button {
    padding: 0 clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem);
    justify-content: center;
    flex-direction: column;
    display: flex;
    height: 100%;
  }
  &__value {
    text-transform: capitalize;
    line-height: 1.26;
    font-weight: 600;
    font-size: 18px;
    color: $c-bg;
  }
  &__type {
    padding-right: 2px;
    color: #858585;
  }
  &__icon {
    background: url('./../img/icons/arrow-dropdown.png') center no-repeat;
    transition: transform 0.2s;
    height: 100%;
    width: 10px;
    &._active {
      transform: rotate(180deg);
    }
  }
  &__dropdown {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    background-color: $c-white;
    pointer-events: none;
    transition: all 0.3s;
    border-radius: 5px;
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    cursor: pointer;
    z-index: 3;
    opacity: 0;
    top: 100%;
    right: 0;
    left: 0;
    &._active {
      transform: translateY(5px);
      visibility: visible;
      pointer-events: all;
      opacity: 1;
    }
  }
  &__item {
    transition: background-color 0.2s;
    text-transform: capitalize;
    cursor: pointer;
    padding: 10px;
    @media (any-hover: hover) {
      &:hover {
        background-color: #adadad;
      }
    }
  }
}

/*----------Filter----------*/
.featured {
  padding-bottom: clamp(1.25rem, -0.023rem + 15vw, 5.625rem);
  padding-top: clamp(1.25rem, -0.023rem + 15vw, 5.625rem);
  &__box {
    margin-top: clamp(1.875rem, 1.511rem + 1.82vw, 3.125rem);
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    display: flex;
    gap: 80px;
  }
  &__item {
    flex: 0 0 auto;
  }
}

/*----------Popular-Residence----------*/
.pop-residence {
  padding: clamp(3.75rem, 1.932rem + 9.09vw, 10rem) 0;
  background-image: url('./../img/pr-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #1a242f;
  background-size: cover;

  &__button {
    text-align: center;
    margin-top: 70px;
  }
  &__slider {
    margin-bottom: 60px;
    margin-top: 40px;
  }
}

/*----------Slider----------*/
.card {
  &__title {
    text-transform: capitalize;
    letter-spacing: 0.01em;
    margin-top: 22px;
    font-weight: 600;
    line-height: 3px;
    font-size: 26px;
    color: $c-white;
  }
  &__desc {
    color: $c-text-silver;
    line-height: 30px;
    margin-top: 22px;
    font-weight: 400;
    font-size: 18px;
  }
  &__info {
    text-transform: capitalize;
    align-items: center;
    margin-top: 18px;
    color: $c-white;
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
  }
}
.info {
  align-items: center;
  display: flex;
  gap: 20px;
  &__icon {
    color: $c-jungle-green;
    align-items: center;
    font-size: 22px;
  }
  &__item {
    align-items: center;
    display: flex;
    gap: 5px;
  }
}
.arrow-slider {
  background-color: transparent;
  border: 1px solid #a9adb1;
  justify-content: center;
  transition: all 0.1s;
  align-items: center;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  height: 78px;
  z-index: 2;
  width: 78px;
  &:nth-child(1) {
    left: -130px;
  }
  &:nth-child(2) {
    transform: rotate(180deg);
    right: -130px;
  }
  &:active {
    scale: 0.95;
  }
}
.pop-residence__slider {
  position: relative;
}
.slider-buttons {
  justify-content: space-between;
  position: absolute;
  display: flex;
  width: 100%;
  z-index: 1;
  top: 30%;
  @media (max-width: 480px) {
    display: none;
  }
}
@media (max-width: 1790px) {
  .arrow-slider {
    position: static;
    height: 50px;
    width: 50px;
  }
  .slider-buttons {
    transform: translateY(0);
    justify-content: end;
    top: -70px;
    gap: 10px;
  }
}

/*----------Why----------*/
.why {
  padding-top: clamp(2.5rem, -0.045rem + 12.73vw, 11.25rem);
  &__title {
    text-align: center;
  }
  &__list {
    gap: clamp(2.5rem, 1.318rem + 5.91vw, 6.563rem);
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    display: flex;
    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
  }
}
.box-why {
  &__img {
    height: clamp(5rem, 3.182rem + 9.09vw, 11.25rem);
    width: clamp(5rem, 3.182rem + 9.09vw, 11.25rem);
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    display: flex;
    svg {
      font-size: clamp(2rem, 1.273rem + 3.64vw, 4.5rem);
    }
    &::before {
      background-color: #1aa090;
      border-radius: 50%;
      position: absolute;
      display: block;
      opacity: 0.12;
      height: 100%;
      width: 100%;
      content: '';
    }
  }
  &__title {
    margin-top: clamp(1rem, 0.636rem + 1.82vw, 2.25rem);
    text-transform: capitalize;
    letter-spacing: 0.01em;
    text-align: center;
    line-height: 1.26;
    font-weight: 600;
    font-size: 26px;
    color: $c-white;
  }
  &__description {
    color: $c-text-silver;
    text-align: center;
    line-height: 1.7;
    margin-top: 15px;
    font-size: 18px;
  }
  &__icon {
    color: $c-jungle-green;
  }
}

/*----------Reviews----------*/
.reviews {
  position: relative;
  &__element {
    position: absolute;
    width: 100%;
    z-index: -1;
    left: -40%;
    top: -70%;
    @media (max-width: 480px) {
      width: 300px;
    }
  }
  .swiper-wrapper {
    align-items: flex-start;
  }
  padding-bottom: clamp(2.5rem, -0.045rem + 12.73vw, 11.25rem);
  margin-top: clamp(3.75rem, 2.659rem + 5.45vw, 7.5rem);
  &__container {
    max-width: 1200px;
    margin: 0 auto;
  }
  &__quotes {
    font-size: clamp(3.75rem, 0.114rem + 18.18vw, 16.25rem);
    text-transform: capitalize;
    color: $c-jungle-green;
    font-weight: 400;
  }
  &__buttons {
    align-items: center;
    position: absolute;
    font-size: 24px;
    display: flex;
    right: 15px;
    z-index: 1;
    bottom: 0;
    gap: 70px;
    @media (max-width: 480px) {
      gap: 20px;
    }
    &::before {
      background: #353f49;
      position: absolute;
      bottom: 10px;
      content: '';
      width: 1px;
      left: 50%;
      top: 0;
    }
  }
}
.slider-reviews {
  &__text {
    font-size: clamp(1.375rem, 1.193rem + 0.91vw, 2rem);
    text-transform: capitalize;
    line-height: 1.57;
    color: $c-white;
  }
  &__name {
    letter-spacing: 0.01em;
    text-transform: capitalize;
    line-height: 1.26;
    font-weight: 600;
    margin-top: 40px;
    font-size: 22px;
  }
  &__position {
    color: $c-text-silver;
    line-height: 1.7;
    margin-top: 5px;
    font-size: 18px;
  }
  &-next {
    transform: translateY(-6px) rotate(180deg);
  }
  &-prev,
  &-next {
    &.swiper-button-disabled {
      color: #767f89;
    }
    cursor: pointer;
  }
}

/*----------Gallery----------*/
.gallery {
  background: linear-gradient(
    270deg,
    #1a242f 0.01%,
    rgba(26, 36, 47, 0) 82.97%
  );
  padding: clamp(1rem, -1.618rem + 13.09vw, 10rem) 0;
  &__container {
    align-items: center;
    display: flex;
    gap: 60px;
    @media (max-width: 992px) {
      flex-direction: column;
    }
  }
  &__box {
    min-width: calc(720px / 1420px * 100%);
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 20px;
    @media (max-width: 992px) {
      justify-content: center;
      width: 100%;
    }
  }
  &__item {
    aspect-ratio: 7/11;
    position: relative;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  &__title {
    @media (min-width: 992px) {
      max-width: 520px;
    }
  }
  &__text {
    margin-top: 22px;
  }
  &__btn {
    margin-top: 45px;
  }
}

/*----------Begin----------*/
.begin {
  padding: clamp(2.5rem, -0.045rem + 12.73vw, 11.25rem) 0;
  position: relative;
  &__lines {
    position: absolute;
    bottom: -30%;
    z-index: -1;
    left: 0;
    @media (max-width: 768px) {
      width: 200px;
    }
  }
  &__elements {
    position: absolute;
    top: -16%;
    right: 0;
    @media (max-width: 768px) {
      width: 40px;
    }
  }
  &__container {
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    display: flex;
    gap: 20px;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }
  &__slogan {
    font-size: clamp(2.375rem, 1.83rem + 2.73vw, 4.25rem);
    text-transform: capitalize;
    line-height: 1.26;
    font-weight: 600;
    @media (min-width: 1024px) {
      max-width: 510px;
    }
  }
  &__desc {
    @media (min-width: 1024px) {
      max-width: 640px;
    }
  }
  &__button {
    margin-top: 35px;
  }
}
